In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("7allV03.csv")

In [3]:
data.head()

   category                                               text
0  siyaset    3 milyon ile ön seçim vaadi mhp nin 10 olağan...
1  siyaset    mesut_yılmaz yüce_divan da ceza alabilirdi pr...
2  siyaset    disko lar kaldırılıyor başbakan_yardımcısı ar...
3  siyaset    sarıgül anayasa_mahkemesi ne gidiyor mustafa_...
4  siyaset    erdoğan idamın bir haklılık sebebi var demek ...

In [4]:
data["category"].value_counts()

siyaset       700
teknoloji     700
dunya         700
saglik        700
ekonomi       700
spor          700
kultur        700
Name: category, dtype: int64

In [5]:
data.category.unique()

array(['siyaset ', 'dunya ', 'ekonomi ', 'kultur ', 'saglik ', 'spor ',
       'teknoloji '], dtype=object)

In [6]:
df_kultur=data[data["category"]=="kultur "]

df_kultur.shape

In [7]:
df_kultur.iloc[0,1]

' su altının son 60 yılı aydınlanıyor türkiye de su altının gizemli dünyasını ilk kez fotoğraflayan sanatçıların eserlerinin yer aldığı 1952 2012 sualtına işık tutanlar sergisi 8 kasım da rezan has müzesi nde açılacak 60 yıllık bir hikayenin anlatıldığı sergide türkiye de su altında ilk kez deklanşöre basan rasim divanlı mustafa kapkın yalçın haraçoğlu zareh magar baskın sokulluoğlu ve tosun sezen den türkiye nin ödüllü ve önemli su altı fotoğraf sanatçılarına kadar oldukça uzun bir dönemi kapsayan eserler yer alacak sanatçıların kendilerinde iz bırakan en önemli karelerine yer verilen bu proje türkiye nin su altı fotoğrafçılığı tarihinden yola çıkarak 1950 lerden günümüze kadar türkiye ve dünya denizlerindeki su altı yaşamını gözler önüne seriyor 90 a yakın fotoğraf sanatçısının çalışmasının yer alacağı sergide engin aygün bengiz özdereli ve saki uğurlu nun belgesel çalışmaları da gösterilecek küratörlüğünü saygun dura nın üstlendiği sergi 28 şubat a kadar ziyaret edilebilecek'

In [8]:
##################################################################################################################

In [9]:
import numpy as np
import pandas as pd

In [10]:
def find_tag(line):
    print(line)
    tag=line.split()[1]
    start=tag.find("+")+1
    if tag[start:].find("+")==-1:
        tag=tag[start:]
    else:
        end=tag[start:].find("+")+start
        tag=tag[start:end]
    return tag

In [11]:
def tag(doc_no, filename):
    file = open(filename, "r")
    f=file.read()
    lines=f.split("\n")
    doc={"doc_no":[], "sentence_no":[], "word":[], "tag":[]}
    sentence_no=0
    for line in lines:
        if(line!=""):
            if line.split()[0]!="</S>" and line.split()[0]!="<S>": 
                doc["doc_no"].append(doc_no)
                doc["sentence_no"].append(sentence_no)
                doc["word"].append(line.split()[0])
                doc["tag"].append(find_tag(line))
                if(line.split()[0].find(".")!=-1):
                    sentence_no+=1
    return doc

In [12]:
%%capture
doc=tag(doc_no=1400, filename="kultur1_etiketli.txt")

In [13]:
df=pd.DataFrame(doc)
df

     doc_no  sentence_no           word    tag
0      1400            0             Su   Noun
1      1400            0        altının   Noun
2      1400            0            son    Adj
3      1400            0             60    Adj
4      1400            0           yılı   Noun
..      ...          ...            ...    ...
127    1400            5             28    Adj
128    1400            5        Şubat'a   Noun
129    1400            5          kadar  Postp
130    1400            5        ziyaret   Noun
131    1400            5  edilebilecek.  Guess

[132 rows x 4 columns]